body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* یا center برای وسط صفحه */
    min-height: 100vh;
    background: #121212;
    color: white;
}
.video-preview {
    max-width: 80%;   /* حداکثر ۸۰ درصد عرض صفحه */
    height: auto;     /* نسبت تصویر حفظ شود */
    display: block;   /* برای وسط چین شدن */
    margin: 0 auto;   /* وسط‌چین کردن */
}
#message {
    font-size: 1.2rem;
    margin-top: 15px;
}
